@use "utilites/variables" ;
@use "utilites/mixin" ;

@use "base/generalbody";
@use "layout/header";
@use "layout/main";
@use "components/boton";

@use "layout/index";
@use "components/nuestroslotes";
@use "components/contacto";
@use "components/inmuebles";
@use "components/nosotros";

@use "layout/mediaaquerie";












