/*...............estilo del titulo..........*/
header{
    padding: 10px 0;
    top: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    position: sticky;
  }

  nav{
    align-items: center;
    color: rgb(202, 153, 37);
    gap: 300px;
    text-decoration: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

nav a{
    color: rgb(142, 154, 7);
    text-decoration: none;
    display: flex;
    background-color: rgb(215, 210, 210);
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    transition: 1s;
    font-weight: bold;
}
nav a:hover{
    background-color: rgb(217, 11, 11);
    color: black;
    box-shadow: 1px 2px 5px rgb(1, 1, 55);
    transform: scale(1.05);
}