@mixin casa{
    background-color: rgb(238, 239, 253);
    border: 1px solid rgb(180, 180, 239);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

@mixin img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

@mixin hover{
   transform: translateY(-5px); 
}